

.container {
    width: 50%;
display: grid;
grid-template: repeat( 8 , 1fr ) / repeat( 8 , 1fr );
border: solid;
}

.cell {
    display: flex;


    aspect-ratio: 1/1;
    border: solid 1px;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
}

.over {
    position: relative;
    left: -100%
}

.black{
    border: none;
    background-color: #602020;
}

.white{
    border: none;
    background-color: #ffa060;
}